body{
    display: block;
    margin-left: 27.5%;
    margin-right: 27.5%;
    font-family: Georgia, 'Times New Roman', Times, serif ;

}
h1{
    font-size: 50px;
    color: rgb(158, 80, 24);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
    
h2{
    font-size: 25px ;
    color: rgb(158, 80, 24);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
img{
    width: 200px;
    display: block;
    margin:auto;

}
.second-para{
    font-size: 16px;
}

p{
    font-size: 20px;
}